//burger menu
.menu-close.is-active {
  .menu-line-01 {
    transform: rotate(45deg) translateY(-10px);
  }

  .menu-line-02 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .menu-line-03 {
    transform: rotate(-45deg) translateY(10px);
  }
}

.menu-open {
  position: static;
  display: flex;
  flex-direction: column;
  z-index: 10;
  opacity: 0;
}

.menu-open.is-open {
  text-align: center;
  width: 100%;
  background-color: red;
  opacity: 1;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
}

h1 {
  position: relative;
  z-index: -12;
}

.menu-open {
  display: none;
  z-index: 10;
  opacity: 0;
}

.menu-open.is-open {
  opacity: 1;
}
